@keyframes cropImage {
    0% {
      opacity: 0;
      /* transform: translateY(30px); */
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
    100% {
      opacity: 1;
      /* transform: translateY(0); */
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }
  }

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    80% {
      transform: translateX(1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }
    80% {
      transform: translateX(-1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }